.cabecalho{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 0.4px solid #fc7303;
}

.logo{
    margin-left: 60px;
}

nav ul{
    margin-right: 160px;
}

nav li{
    display: inline;
    font-size: 22px;
    color: rgb(10, 10, 10);
    margin-right: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
